.ex1 {
    border:3px green solid;
    background-color: white;
    height: 100px;
    width: 200px;
}
.ex2 {
    height: 150px;
    width: 150px;
    background-color: black;
    border: 10px red solid;
}
.ex3 {
    color:red; 
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.ex4 {
    display: center;
    color: purple;
}
.ex5{
    background-color: #eeeeee ;
    padding: 25px;
}
.ex6 { 
   height:100px;
   width:100px; 
   margin-bottom:30px;
   background-color: orange;
}
.ex62 { 
   height:100px;
   width:100px; 
   background-color: orange;
}
.ex7 { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black; 
}
#caixa-destaque{ 
    width: 500px;
    height: 50px;
    border:dashed cyan 2px ;
}
.texto-importante {`
    font-weight: bold;
}

#q10 { 
    text-decoration: none;
    color: blue;
}
#q10:hover { 
    color:red;
}

